<div class="page-header">
    <h1>{{'Base' | translate }}</h1>
</div>

<div ng-show="vm.error" class="alert alert-danger row">
    <span>{{ vm.error.message | translate}}</span>
</div>

<div cg-busy="vm.myPromise"></div>

<form name="loginForm" ng-submit="vm.logIn()" style="margin-top:30px;" novalidate>
    <h3>{{'Log In' | translate }}</h3>

    <div class="form-group" ng-class="{ 'has-error': loginForm.userName.$touched && loginForm.userName.$invalid }">
        <input name="userName" type="text" class="form-control" placeholder="{{'Username' | translate }}" ng-model="vm.user.username" required></input>
        <div ng-messages="loginForm.userName.$error" ng-show="loginForm.userName.$touched">
            <p class="has-error" ng-message="required">{{"User name is required" | translate}}.</p>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': loginForm.password.$touched && loginForm.password.$invalid }">
        <input name="password" type="password" class="form-control" placeholder="{{'Password' | translate }}" ng-model="vm.user.password" required></input>
        <div ng-messages="loginForm.password.$error" ng-show="loginForm.password.$touched">
            <p class="has-error" ng-message="required">{{"Password is required" | translate}}.</p>
        </div>
    </div>
    <p ng-hide="logged()"><a href="/#/recover_password">{{'Forgot your password?' | translate }}</a></p>
    <button type="submit" class="btn btn-primary" ng-disabled="registerForm.$invalid">{{'Log In' | translate }}</button>

    <p></p>
    <div class="panel panel-default">
        <div class="panel-heading">
            {{'Social Log in' | translate }}
        </div>
        <div class="panel-body">
            <a href="/#/facebook_login" class="btn btn-block btn-social btn-facebook">
                <i class="fa fa-facebook"></i> {{'Sign in with Facebook' | translate }}
            </a>
        </div>
    </div>

</form>
