<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">AlperSoft Admin v1.0</a>
    </div>

    <ul class="nav navbar-nav navbar-right" style="padding-right: 50">

        <li ng-hide="logged()"><a href="/#/login"><i class="fa fa-user fa-fw"></i> {{'Log In' | translate }}</a></li>
        <li ng-hide="logged()"><a href="/#/register"><i class="fa fa-sign-in fa-fw"></i> {{'Register' | translate }}</a></li>

        <li ng-show="logged()" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ currentUser() }}
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> {{'User Profile' | translate }}</a>
                </li>
                <li><a href="/#/change_password"><i class="fa fa-key fa-fw"></i> {{'Change Password' | translate }}</a>
                </li>
                <li class="divider"></li>
                <li><a href="" ng-click="logOut()"><i class="fa fa-sign-out fa-fw"></i> {{'Log Out' | translate }}</a>
                </li>
            </ul>
        </li>

        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-language fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="" ng-click="useTranslation('pt-br')"><i class="flag-icon flag-icon-br"></i> pt-br</a>
                </li>
                <li><a href="" ng-click="useTranslation('en')"><i class="flag-icon flag-icon-gb"></i> en</a>
                </li>
            </ul>
        </li>

        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            </a>
        </li>
    </ul>
</nav>
