<div class="page-header">
    <h1>{{'Base' | translate }}</h1>
</div>

<div ng-show="vm.error" class="alert alert-danger row">
    <span>{{ vm.error.message }}</span>
</div>

<div ng-show="vm.msg && !vm.error" class="alert row">
    <span>{{ vm.msg | translate }}</span>
</div>

<div cg-busy="vm.myPromise"></div>

<form name="changePasswordForm" ng-submit="vm.changePassword()" style="margin-top:30px;" novalidate>
    <h3>{{'Change Password' | translate }}</h3>

    <div class="form-group" ng-class="{ 'has-error': changePasswordForm.password.$touched && changePasswordForm.password.$invalid }">
        <input name="password "type="password" class="form-control" placeholder="{{'Current password' | translate }}" ng-model="vm.user.password" required></input>
        <div ng-messages="changePasswordForm.password.$error" ng-show="changePasswordForm.password.$touched">
            <p class="has-error" ng-message="required">{{"Current password is required" | translate}}.</p>
        </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error': changePasswordForm.newPassword.$touched && changePasswordForm.newPassword.$invalid }">
        <input name="newPassword "type="password" class="form-control" placeholder="{{'New password' | translate }}" ng-model="vm.user.newPassword" required></input>
        <div ng-messages="changePasswordForm.newPassword.$error" ng-show="changePasswordForm.newPassword.$touched">
            <p class="has-error" ng-message="required">{{"New password is required" | translate}}.</p>
        </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error': changePasswordForm.confirmNewPassword.$touched && changePasswordForm.confirmNewPassword.$invalid }">
        <input name="confirmNewPassword "type="password" class="form-control" placeholder="{{'Confirm new password' | translate }}" ng-model="vm.user.confirmNewPassword" required></input>
        <div ng-messages="changePasswordForm.confirmNewPassword.$error" ng-show="changePasswordForm.confirmNewPassword.$touched">
            <p class="has-error" ng-message="required">{{"New password confirmation is required" | translate}}.</p>
        </div>
        <p class="has-error" ng-show="changePasswordForm.newPassword.$modelValue != changePasswordForm.confirmNewPassword.$modelValue">{{"New password and confirmation are not the same" | translate}}.</p>
    </div>

    <button type="submit" class="btn btn-primary" ng-disabled="changePasswordForm.$invalid">{{'Change Password' | translate }}</button>
</form>
